name: _ (call) publish

on:
  workflow_call:
    inputs:
      access:
        type: string
        required: true
        description: public or restricted
      registry:
        type: string
        required: true
      scope:
        type: string
        required: false
      branch:
        type: string
        required: false
        default: main

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          always-auth: true
          scope: ${{ inputs.scope }}
          registry-url: https://${{ inputs.registry }}

      - name: generate NPM access token
        run: |
          TOKEN=$(npm token create --read-only=false | tail -1)
          echo "NPM_AUTH_TOKEN=${TOKEN}" >> $GITHUB_ENV

      - name: get current git tag
        run: >
          git fetch -t && echo tag=$(git tag | sort -V | tail -1) >> $GITHUB_ENV

      - name: patch sdk version
        env:
          public: ${{ github.event.release.tag_name }}
          restricted: ${{ env.tag }}-${{ github.event.number || github.run_id }}-${{ github.sha }}
        run: >
          sed -i
          "s/0.0.0-development/${{ inputs.access == 'public' && env.public || env.restricted }}/"
          package.json

      - name: Set VITE_MEDIASTORE_SDK_VERSION
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "VITE_MEDIASTORE_SDK_VERSION=${VERSION}" >> $GITHUB_ENV

      - name: install deps
        run: pnpm install

      - name: build the bundle
        run: pnpm build

      - name: push the bundle to ${{ inputs.access }} registry
        run: npm publish --access ${{ inputs.access }}
        env:
          NPM_TOKEN: ${{ env.NPM_AUTH_TOKEN }}
