name: Publish library to public NPM registry

on:
  release:
    types: [published]
permissions:
  contents: read
defaults:
  run:
    shell: bash

jobs:
  publish:
    uses: ./.github/workflows/call-publish.yml
    permissions:
      contents: read
      packages: write
    with:
      access: public
      registry: registry.npmjs.org
