name: Generate a release draft

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  generate_release_draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Fail if branch is not main
        if: github.event_name == 'workflow_dispatch' && github.ref != 'refs/heads/main'
        run: |
          echo "This workflow can only be triggered on the main branch."
          exit 1

      - uses: release-drafter/release-drafter@v5
